body {
   font-family: 'Archivo', sans-serif;;
   
}

.mainNav {
    justify-content: flex-end;
    padding: 5px;
    font-size: 20px;
}

.aboutMeContainer {
    
    padding: 10px;
    margin: 25px 50px 50px 80px;
   
    justify-content: center;
}

#picture {
    max-height: 400px;
    max-width: 300px;
    border-radius: 170px;
    margin-left: 120px;
    box-shadow: 5px 10px 8px #888888;
}

#mainHeader {
    justify-content: center;
    text-align: center;
    font-size: 80px;
}

#aboutMe {
    text-align: center;
    font-size: 40px;
}

#abtMeTxt {
    margin-left: 20px;
    font-size: 20px;
}

#imgCol {
    justify-content: center;
}

#nbaWizardCol {
    /* border: 1.5px solid black; */
    margin-left: 80px;
    min-height: 250px;
    margin-bottom: 25px;
    /* background-image: url(./images/nbaWiz.png); */

    /* box-shadow: 5px 10px 8px #888888; */
}

#nbaDesc {
    font-size: 20px;
}

.projCard {
    border-left: 2px solid black;
    margin: 25px;
    min-height: 200px;
 
    
}

.contactImages {
    max-width: 100px;
    max-height: 100px;
    padding: 5px;
    margin: 5px;
}

.contactCard {
min-height: 200px;
margin-bottom: 20px;
border: none;

}

.contactCard h5 {
    justify-content: center;
}

.card-body {
    justify-content: center;
}

.projectTitle {
    background-color: white;
  
    border: 1.5px solid black;
    padding: 8px;
    font-size: 1.75rem;
    margin: 5px;
    text-decoration: none;
    color: black;
    
}

.projectScreenshot {
    max-height: 600px;
    max-width: 500px;
    border: 1.5px solid black;
}

/* #weatherDash {
    background-image: url(./images/weatherPic.jpeg);
}

#runBuddy {
    background-image: url(./images/runningPic.jpeg);
}

#passGen {
    background-image: url(./images/gears2_1600x400.png);
} */

.appCol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.appRow {
    margin-top: 100px;
    margin-bottom: 100px;
    /* margin-left: 50px;
    margin-right: 50px;
    background-color: #1f1f1f;
    border-radius: 180px;
    padding: 10px; */
}

.appName {
    text-decoration: none;
    font-size: 3rem;
    color: black;
}

.projectLinks {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .navbar-toggler {
      display: none;
    }

    .contactImages {
        max-width: 75px;
        max-height: 75px;
        padding: 5px;
        margin: 5px;
    }

    #contactRow {
        justify-content: center;
        
    }

    #contact {
        justify-content: center;
        align-items: center;
        
    }

   .descriptions {
       display: none;
   }

   .splitCol {
       display: none;
   }

   #picture {
       margin: 0px;
   }

   .picRow {
       justify-content: center;
   }

   .display-4 {
       justify-content: center;
       align-items: center;
   }
   #nbaWizardCol {
       display: none;
   }

   body {
       padding: 10px;
   }

   .projectScreenshot {
    max-height: 500px;
    max-width: 400px;
    border: 1.5px solid black;
    }

    .appName {
        font-size: 2rem;
    }

    .projectLinks {
        font-size: 1.25rem;
    }

    #mainHeader {
        font-size: 3rem;
    }

}

  @media screen and (max-width: 1600px) {
      #mainApp {
          display: none;
      }
  }